In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_wv = pd.read_pickle('WORD2VEC_ALL.df')

In [3]:
raw_wv.head()

,w2v_d,w2v_q,w2v_t
id,,,
1,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0376018844545, 0.0500394329429, -0.03152773...","[-0.00186114124954, 0.0233284708112, -0.018777..."
2,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0107074677944, 0.0139652146026, -0.05871850...","[-0.00186114124954, 0.0233284708112, -0.018777..."
3,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0127446381375, 0.0762946121395, -0.02950597...","[-0.00186114124954, 0.0233284708112, -0.018777..."
4,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[-0.0200245970239, 0.0660118572414, -0.0250410...","[-0.00186114124954, 0.0233284708112, -0.018777..."
5,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0436171131829, 0.0350617634443, -0.00935281...","[-0.00186114124954, 0.0233284708112, -0.018777..."

In [13]:
a = raw_wv['w2v_q'].apply(lambda x: pd.Series(x))
a.columns = ['w2vq_' + str(x) for x in a.columns]

b = raw_wv['w2v_t'].apply(lambda x: pd.Series(x))
b.columns = ['w2vt_' + str(x) for x in b.columns]

c = raw_wv['w2v_d'].apply(lambda x: pd.Series(x))
c.columns = ['w2vd_' + str(x) for x in c.columns]

combined = a.join(b).join(c)

In [10]:
.columns = ['w2vd_%03d' % x for x in a.columns]

In [16]:
combined.to_pickle('WORD2VEC.df')

In [17]:
raw_wv.head()

,w2v_d,w2v_q,w2v_t
id,,,
1,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0376018844545, 0.0500394329429, -0.03152773...","[-0.00186114124954, 0.0233284708112, -0.018777..."
2,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0107074677944, 0.0139652146026, -0.05871850...","[-0.00186114124954, 0.0233284708112, -0.018777..."
3,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0127446381375, 0.0762946121395, -0.02950597...","[-0.00186114124954, 0.0233284708112, -0.018777..."
4,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[-0.0200245970239, 0.0660118572414, -0.0250410...","[-0.00186114124954, 0.0233284708112, -0.018777..."
5,"[-0.0134135176334, 0.0255342997106, -0.0015336...","[0.0436171131829, 0.0350617634443, -0.00935281...","[-0.00186114124954, 0.0233284708112, -0.018777..."

In [21]:
def f(r):
    return pd.Series([np.dot(r['w2v_q'], r['w2v_t']), np.dot(r['w2v_q'], r['w2v_t'])])

dots = raw_wv.apply(f, axis=1)
dots.columns = ['dots_qt', 'dotsqd']

In [23]:
dots.head()

     dots_qt    dotsqd
id
1   0.102737  0.102737
2   0.191196  0.191196
3   0.085514  0.085514
4   0.078045  0.078045
5   0.116101  0.116101